body {
    margin: 0;
    padding: 0;
    /*브라우저별 마진 패딩 설정 초기화*/
}

.header {
    /* 

    기본적으로 설정된 사이즈가 존재.
    width: auto; // auto가 default를 의미함.
    height: auto;

    <div> 
    width: 100%; // block 레벨 알지?
    height: auto; // 들어있는 값에 따라 자동으로 늘어남.
    
    */
    

    background: white;
    border-bottom: 1px solid lightgray;
    
}

.container {
    width: 85%;
    margin: auto;
    /*
    background: tomato;
    padding: 20px 0;
    */
}

.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    margin-right: 10px;
}

.logo img {
    display: block; /* 이미지 밑의 공백을 제거해줌.*/
}

.menu {
    float: left;
}

.menu-item{
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px;
    /*
    padding-top:8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    */
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}