.swiper {
  width: 100px;
  height: 100px;
  border: solid black 1px;
  position: relative;
  display: flex;

}

.icon1 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.icon2 {
  position: absolute;
  top: 10px;
  right: 10px;
  display:none;
}

.swiper:hover {
  .icon1 {
    display: block;
  }

  .icon2 {
    display: block;
  }
}


