.title {
    color: yellowgreen;
}

.main-text {
    color: blue;
}

/*
div {
    width: 200px;
    height: 150px;
    border: solid 1px black;
    background: blue;
    
    margin: 20;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    

    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

}
*/

.box1 {
    width: 200px;
    height: 150px;
    background: red;
    color: blue;
    
}

.box2 {
    width: 250px;
    height: 180px;
    background-color: yellowgreen;
    color: white;
}